<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myAgeEducation.cbseClass5">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CbseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4837855590190532~7287680206"/>

        <activity
            android:name=".QuestionPage"
            android:label="Test"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".SupportiveTextLargeView"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            >
        </activity>
        <activity
            android:name=".LoginSignupActivity"
            android:label="Login Signup"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>

        <activity
            android:name=".SubjectList"
            android:exported="true"
            android:label = "@string/title_activity_main"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--<action android:name="android.intent.action.VIEW" />-->
        </activity>
        
        <activity
            android:name=".Chapters"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".TestReport"
            android:label="@string/title_test_report">
        </activity>
        <activity
            android:name=".ScoreHistory">
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_settings">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings">
        </activity>
        <activity
            android:name=".PointSettings"
            android:label="Points Settings">
        </activity>
        <activity
            android:name=".RewardsTable"
            android:label="Rewards">
        </activity>
        <activity
            android:name=".PointsTable"
            android:label="Points Table">
        </activity>
        <activity
            android:name=".StartMode"
            android:label="Start Mode">
        </activity>

        <activity
            android:name=".GetMore"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>

        <activity
            android:name=".Registration"
            android:label="Contest Registration Form">
        </activity>

        <activity
            android:name=".NewUpdateRegistration"
            android:label="New/Update Registration">
        </activity>

        <activity
            android:name=".UpdateRegistration"
            android:label="Registration Update Form">
        </activity>

        <activity android:name=".HcfCalculatorActivity"
                  android:label="LCM/HCF Calculator" />
    </application>
</manifest>
